alembic==1.4.2
appdirs==1.4.3
Babel==2.8.0
backcall==0.1.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.1
decorator==4.3.0
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
Flask-HTTPAuth==3.3.0
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
gunicorn==20.0.4
httplib2==0.17.1
idna==2.9
importlib-metadata==1.6.0
ipython==7.2.0
ipython-genutils==0.2.0
item==0.0.3
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.11.1
Mako==1.1.2
MarkupSafe==1.1.1
oauth2client==4.1.3
packaging==20.3
parso==0.3.1
passlib==1.7.2
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2==2.8.5
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==1.9.4
Pygments==2.3.1
pyparsing==2.4.6
python-dateutil==2.6.0
python-editor==1.0.4
pytils==0.3
pytz==2019.3
redis==3.4.1
requests==2.23.0
rsa==4.0
selection==0.0.14
simple-draw==2.6.5
six==1.12.0
SQLAlchemy==1.3.15
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.25.8
user-agent==0.1.9
virtualenv==20.0.17
wcwidth==0.1.7
webencodings==0.5.1
weblib==0.1.30
Werkzeug==1.0.1
WTForms==2.2.1
zipp==3.1.0
